.sec1{
    background-image: linear-gradient(#0c0c0c , #00000057),url("https://www.commondreams.org/sites/default/files/styles/cd_large/public/views-article/farms.jpeg?itok=cTmtRuzF");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato';
    font-size: 22px;
}
h1{
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Lato';
    padding-bottom: 50px;
    padding-top: 150px;
}
.txt{
    color: rgb(255, 255, 255);
    text-align: center;
}
.login-box{
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    height: 250px;
    width: 400px;
    margin: 0 auto; 
}

.link{
    text-decoration: none;
    color: green;
    font-size: 15px;
    padding-left: 38px;
}
.link:hover{
    color: white;
    text-decoration: underline;
}
.btn{
    margin: 10px;
    color:green;
    font-size: 22px;
    border: 0px;
    background-color: black;
}
.btn:hover{
    margin: 10px;
    color:green;
    font-size: 22px;
    background-color: white;
    
}
